body {
  background: linear-gradient(to top, #23A6D5, #293f70);
}

.container {
  margin-top: 35px;
}

.logo {
  cursor: pointer;
}

.lrm button {
  border-radius: 20px;
  border-width: 1.5px;
}

.lrm button:hover {
  background-color: #293f70a6;
}

.lrm span {
  margin: 0px 20px;
  color: #ffffff;
}

.content h1 {
  color: #ffffff;
  font-size: 60px;
  margin-top: 120px;
}

.content p {
  color: white;
  margin: 20px 30px;
}

.container span {
  margin: 0 60px;
  font-size: 20px;
}

.container button {
  border-radius: 30px;
}

.icon i {
  margin-right: 25px;
  margin-top: 80px;
  margin-bottom: 70px;
  color: white;
  cursor: pointer;
}
